einops
fairseq
flask
flask_cors
FreeSimpleGUI
gin
gin_config
gradio
jupyterlab
librosa
local_attention
matplotlib
numpy
praat-parselmouth
protobuf==3.19.1
pysimplegui
pyworld
PyYAML
resampy
scikit_learn
scipy
sounddevice
SoundFile
tensorboard
torchcrepe
torchfcpe
tqdm
transformers
wave
